header{
    position: fixed;
    height: 6.6vmax;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}

.new{
    margin-bottom: 1.5em;
}

#new2{
    margin-bottom: 1.5em;
}

.new3{
    display: flex;
    justify-content: space-around;
}

.fo{
    margin: 1%;
}

footer{
    /* padding-top: 1.5vmax; */
    background-color: rgb(105, 162, 200);
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #efefef;
    position: fixed;
    /* height: 6.6vmax; */
    width: 100%;
    z-index: 99;
    left: 0;
}