
body{
  /* background-color: #f6e0a2; */
  background: lightblue url("https://s2.best-wallpaper.net/wallpaper/2560x1920/1908/Colorful-colors-watercolors-abstract-picture_2560x1920.jpg") no-repeat fixed center;


}

.new{
    opacity: .7;
    margin-bottom: 5%;
}

#flex{
margin-left: 4%;
margin-right: 4%;
}

input:hover{
        opacity: 0.5;
}

.new3{
    display: flex;
    justify-content: space-around;
}

footer{
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    background-color:rgba(173, 216, 230, 0.637) ;

}


  